name: Detect Changed Files

on:
  push:
    branches:
      - main
      - test-getfiles

jobs:
  detect:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get changed files
        id: files
        run: |
          git fetch --depth=2
          echo "Changed files:"
          git diff --name-only HEAD~1 HEAD > changed.txt
          cat changed.txt

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: changed-files
          path: changed.txt
